body {
  margin: 0 auto;
}

@font-face {
  font-family: 'montserrat';
  src: url("fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

.table, .table__input {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header, .table thead {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  font-size: 14px;
  color: #979797;
}

.table {
  border-collapse: collapse;
  font-size: 12px;
  color: #979797;
  width: 100%;
}

.table__link {
  color: #4695d9;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  margin: 0;
}

.table__link:hover {
  border-bottom: 1px solid #4695d9;
}

.table__td-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #cbbdbd;
  text-align: center;
}

.table__row_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}

.table__input {
  border-radius: 5px;
  padding: 5px 10px;
  color: grey;
  border: 1px solid grey;
}

.table__checkbox {
  display: none;
}

.table__checkbox:checked ~ .table__label {
  background-color: #0b76ef;
  border: 1px solid #0b76ef;
}

.table__label {
  display: block;
  border: 1px solid #adb5bd;
  width: 14px;
  height: 14px;
  background-color: white;
  background-image: url("img/done.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  border-radius: 2px;
  cursor: pointer;
}

.module {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373737b3;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.module__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 24px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px 4px 0 0;
  background: #f2f2f2;
  -webkit-box-shadow: 0 1px 0 0 #d9d9d9;
          box-shadow: 0 1px 0 0 #d9d9d9;
}

.module__head {
  margin: 0;
  font-size: 30px;
}

.module__wrap {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  border-radius: 4px;
}

.module__center {
  padding: 0 20px;
}

.module__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E9ECEE;
  font-size: 14px;
  line-height: 15px;
  color: #8F9091;
}

.module__footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 36px;
  -webkit-box-shadow: 0 -1px 0 0 #d9d9d9;
          box-shadow: 0 -1px 0 0 #d9d9d9;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.module__close {
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: red;
  padding: 10px 15px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
}

.module__close:hover span {
  pointer-events: none;
  border-bottom: 1px solid #3bc8f5;
  color: #3bc8f5;
}

.module__close:active {
  border: 1px solid #3bc8f5;
}

.empty-data {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  color: grey;
  letter-spacing: 0.8px;
}

.btn-close {
  position: absolute;
  z-index: 5;
  background-image: url("img/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 15px;
  height: 15px;
  opacity: .5;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #21f344;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}
/*# sourceMappingURL=style.css.map */