body{
  margin: 0 auto;
}
@font-face {
  font-family: 'montserrat';
  src: url("fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'montserrat';
  src: url("fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal
}

%font-regular{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}


%font-bold{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
.table{
  border-collapse: collapse;
  font-size: 14px;
  color: #979797;
  @extend %font-regular;
  width: 100%;
  &__link{
    color: #4695d9;
    cursor: pointer;
    &:hover{
      border-bottom: 1px solid #4695d9;
    }
  }
  thead{
    @extend %font-bold;
  }
  &__td-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid #cbbdbd;
  }
  &__row_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input{
    @extend %font-regular;
    border-radius: 5px;
    padding: 5px 10px;
    color: grey;
    border: 1px solid grey;
  }
  &__checkbox{
    display: none;
    &:checked ~.table__label{
      background-color: #0b76ef;
      border: 1px solid #0b76ef;
    }
  }
  &__label{
    display: block;
    border: 1px solid #adb5bd;
    width: 14px;
    height: 14px;
    background-color: white;
    margin: 0 5px 0 0;
    border-radius: 2px;
    cursor: pointer;
  }
}