body {
  margin: 0 auto;
  font-family: "OpenSans-Semibold","Helvetica Neue",Arial,Helvetica,sans-serif;
  background: #eef2f4;
}
.btn{
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #626262;
  color: white;
  &_red{
    background-color: #ff0000;
  }
  &:active{
    background-color: white;
    color: #626262;
  }
}
.page{
  padding: 10px;
}
.header{
  background-color: white;
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 5px;
  &__logo{
    display: block;
    background-image: url("../img/logo_CAN.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
  }
}
.lead{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  margin: 10px 0;
  border-radius: 5px;
}
.info{
  width: 100%;
  &__name{
    font-size: 13px;
    line-height: 15px;
    color: #333;
    cursor: pointer;
    display: block;
    transition: color .1s;
    &:hover{
      color: #2067b0;
    }
  }
  &__cost{
    font-size: 14px;
    line-height: 26px;
    color: #535c6a;
    display: block;
    margin: 10px 0;
  }
  &__time{
    font-size: 12px;
    color: #8e8e8e;
    display: block;
  }
}
.business {
  position: relative;
  &__text {
    display: block;
    margin: 10px 0 0 0;
    color: #2660c0;
    cursor: pointer;
    font-size: 13px;
  }
  &__info{
    display: grid;
    grid-template-columns: auto 50px;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0 0 -10px;
  }
  &__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__phone{
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("img/call-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &-text{
      font-size: 11px;
      color: #a5a6a8;
      text-align: center;
      margin: 5px 0 0 0;
    }
  }
}
.missed{
  &__time{
    font-size: 11px;
    line-height: 11px;
    display: block;
    color: red;
    margin: 0 0 5px 0;
  }
  &__call{
    font-size: 14px;
    color: #0b66c3;
  }
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__item{
    display: block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:nth-child(2){
      margin: 10px 0;
    }
  }
  &__phone{
    background-image: url("img/phone-active.svg");
  }
  &__message{
    background-image: url("img/message-disable.svg");
  }
  &__chat{
    background-image: url("img/chat-active.svg");
  }
  &__contract{
    background-image: url("img/contract.svg");
  }
}
.card{
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #fff;
  //display: flex;
  //justify-content: center;
  z-index: 10;
  right: 0;
  overflow: auto;
  &__info{
    margin: 10px 10px 0 10px;
    border-bottom: 1px solid #e8ecee;
  }
  &__title{
    height: 39px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(232, 236, 238);
    color: rgb(82, 92, 105);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__subtitle{
    font-size: 14px;
    color: #a3a9b1;
    display: block;
    margin: 10px 0 0 0;
    &-child{
      display: block;
      color: black;
      margin: 5px 0 0 0;
      text-decoration: none;
    }
  }
  &__audio{
    height: 39px;
    margin: 10px 0 0 0;
    width: 100%;
  }
  &__name{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    padding: 10px 15px;
  }
  &__name_disabled{
    border: none;
    padding: 0;
    outline: none;
  }
}
.card_open{
  animation: cardOpen .5s linear;
  animation-fill-mode: forwards;
}
.card_close{
  animation: cardClose .5s linear;
  animation-fill-mode: forwards;
}

@keyframes cardOpen {
  from {
    width: 0%;
    visibility: hidden;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}
@keyframes cardClose {
  from {
    width: 100%;
    visibility: visible;
  }
  to {
    width: 0%;
    visibility: hidden;
  }
}
.return{
  position: relative;
  width: 100%;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  &__arrow{
    position: absolute;
    left: 0;
    opacity: .5;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    pointer-events: none;
    margin: 0 0 0 10px;
  }
  &__text{
    pointer-events: none;
  }
}

.module{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3737375c;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  left: 0;
  &__group{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  &__btn{
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: 18px;
    &:active{
      filter: brightness(0.5);
    }
    &_green{
      background-color: #bbed21;
      color: white;
    }
    &_red{
      background-color: #e31e24;
      color: white;
    }
  }
}
.save-change{
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  visibility: hidden;
  box-shadow: 0 3px 5px -5px rgb(34 60 80 / 50%);
  flex-wrap: wrap;
  overflow: hidden;
  &_active{
    animation: showBar .3s linear;
    animation-fill-mode: forwards;
  }
  &_close{
    animation: closeBar .3s linear;
    animation-fill-mode: forwards;
  }
  &__text{
    text-align: center;
    width: 100%;
    display: block;
  }
  &__group{
    display: flex;
  }
  &__btn{
    padding: 0 20px !important;
  }
}
.qualify{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  left: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__wrap{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__input{
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #c4c4c4;
  }
}
.loader{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #9c9c9c73;
  display: flex;
  align-items: center;
  z-index: 999;
  &__img{
    width: 70px;
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 70px;
    margin: 0 auto;
  }
}
@keyframes showBar {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 70px;
    visibility: visible;
  }
}
@keyframes closeBar {
  from {
    height: 70px;
    visibility: visible;
  }
  to {
    height: 0;
    visibility: hidden;
  }
}
.isVisible{
  display: none;
}