.footer{
  grid-area: footer;
  display: flex;
  align-items: center;
  &__update{
    display: flex;
    align-items: center;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: grey;
    width: 100px;
    margin-left: auto;
  }
}