body{
  margin: 0 auto;
  padding: 0;
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal
}
.main{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "left center center"
    "left center center"
    "left footer footer";
  height: 100vh;
}
a{
  color: #1d96ff;
}
img{
  font-size: 24px;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  color: grey;
}
.input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
  padding: 10px;
  font-size: 12px;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: grey;
  box-sizing: border-box;
  text-overflow: ellipsis;
  position: relative;
  &::placeholder{
    opacity: .5;
  }
  &__search{
    border-radius: 20px;
    padding: 5px 10px;
  }
  &__arrow{
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: calc(50% - 5px);
    right: 10px;
  }
  &__checkbox{
    appearance: none;
    margin: 0;
  }
}
.button{
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 12px;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: grey;
  border: 1px solid grey;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    background-color: #545353;
    border: 1px solid #545353;
  }
  &:active{
    background-color: #cbcaca;
  }
  &:last-child{
    margin: 0;
  }
  &__center{
    align-self: flex-end;
  }
  &__filter{
    width: 50%;
    margin: 0;
  }
  &_approved{
    background-color: #bbed21;
    color: #535c69;
    border: 1px solid #bbed21;
    &:hover{
      background-color: #d2f95f;
      border: 1px solid #d2f95f;
    }
    &:active{
      background-color: #b2e232;
      border: 1px solid #b2e232;
    }
  }
  &_denied{
    background-color: white;
    color: #535c69;
    border: 1px solid #535c69;
    &:hover{
      background-color: #cfd4d8;
      border: 1px solid #c6cdd3;
    }
    &:active{
      background-color: #dde2e5;
      border: 1px solid #9fa4ab;
    }
  }
  &_update{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 15px;
    height: 15px;
    display: block;
    pointer-events: none;
  }
  &_load{
    animation: rotate 1s linear;
    animation-fill-mode: forwards;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn__status{
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  pointer-events: none;
  &_question{
    background-color: #d5d5d5;
    background-image: url("../img/question-mark.svg");
  }
  &_web{
    background-color: #ffffff;
    background-image: url("../img/web.svg");
    position: absolute;
    left: 5px;
    top: 5px;
  }
  &_denied{
    background-color: #ED2121;
    background-image: url("../img/denied.svg");
  }
  &_approved{
    background-color: #BBED21;
    background-image: url("../img/approved.svg");
  }
}

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
  border: 4px solid transparent;
  background-clip: content-box;   // this is important
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(97, 97, 97);
  border: 1px solid grey;
}
.module{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373737d9;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  &__wrap{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  &__area{
    margin: 0 0 20px 0;
  }
  &__reason{
    margin: 20px 0;
    max-height: 50%;
    overflow: auto;
    &-item{
      padding: 5px 0;
      font-family: "montserrat", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: grey;
      user-select: none;
      &:hover{
        background: #f2f2f2;
      }
    }
  }
  &__title{
    font-size: 24px;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: grey;
    margin: 0;
  }
  &__img{
    height: 100%;
    margin: auto;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  &__close{
    position: fixed;
    z-index: 5;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 30px;
    height: 30px;
    opacity: .5;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition:
            opacity .3s,
            transform .3s;
    &:hover{
      opacity: 1;
    }
    &:active{
      transform: scale(1.3);
    }
  }
  &__controller{
    position: fixed;
    z-index: 5;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__btn{
    display: block;
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #b4b4b478;
    margin: 0 20px 0 0;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    &:last-child{
      margin: 0;
    }
    &:hover{
      background-color: rgba(180, 180, 180, 0.86);
    }
  }
  &__left{
    background-image: url("../img/arrow-around-left.svg");
  }
  &__right{
    background-image: url("../img/arrow-around-right.svg");
  }
  &__zoom-plus{
    background-image: url("../img/zoom-plus.svg");
  }
  &__zoom-minus{
    background-image: url("../img/zoom-minus.svg");
  }
  &__download{
    background-image: url("../img/download.svg");
  }
  &__prev{
    background-image: url("../img/arrow-right-thin.svg");
    transform: rotate(180deg);
  }
  &__next{
    background-image: url("../img/arrow-right-thin.svg");
  }
}
#my_pdf_viewer{
  width: 50%;
  height: 80%;
  position: relative;
}
#canvas_container {
  background: #333;
  text-align: center;
  border: solid 3px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.pdf_controls{
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#zoom_controls, #navigation_controls{
  display: flex;
}
#navigation_controls{
  margin: 0 60px 0 0;
}
#current_page{
  width: 100px;
  margin: 0 20px 0 0;
}

.inVisible{
  display: none;
}
.reason__list, .search__field{
  background-color: white;
  position: absolute;
  margin: 10px 0 0 0;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  padding: 5px 0;
  z-index: 5;
  width: 100%;
  overflow: auto;
  border-radius: 5px;
}
.search__field{
  max-height: 70vh;
  width: auto;
  min-width: 100%;
  margin: 50px 0 0 0;
  top: 0;
}
.reason__item, .search__item{
  width: 100%;
  display: block;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  user-select: none;
  font-weight: 400;
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 0.8px;
  &:hover{
    background: #f2f2f2;
  }
  &_empty{
    color: white;
  }
}
.search__item span{
  display: block;
  pointer-events: none;
}
.inVisibility{
  visibility: hidden;
}