.client {
  border-radius: 5px;
  padding: 10px;

  &__source {
    font-size: 24px;
    font-family: "montserrat", sans-serif;
    display: block;
    text-align: center;
    font-weight: 700;
    color: darkcyan;
  }

  &__comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px 0 0 0;
  }

  &__area {
    resize: none;
    width: 100%;
    outline: none;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__btn {
    align-self: flex-start;
  }

  &__buttons {
    margin: 10px 0 0 0;
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}