body{
  margin: 0 auto;
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal
}

%font-regular{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

%font-bold{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 90%;
  grid-gap: 10px;
  height: 100vh;
}
.title{
  @extend %font-regular;
  font-size: 15px;
  line-height: 18px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.subtitle{
  @extend %font-regular;
  font-size: 14px;
  line-height: 17px;
  &_open{
    cursor: pointer;
    border-bottom: 1px dashed black;
    opacity: .6;
    width: fit-content;
    &:hover{
      opacity: 1;
    }
  }
  &_center{
    display: flex;
    align-items: center;
  }
}
.input{
  &__text{
    padding: 5px;
    border-radius: 5px;
    font-family: "montserrat", sans-serif;
    outline: none;
    border: 1px solid #000000;
  }
  &__area{
    font-family: "montserrat", sans-serif;
    resize: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 5px;
  }
  &__select{
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 15px 5px 5px;
  }
}
.carousel{
  margin: 10px 0;
}
.slider__item {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.slider__photo{
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid white;
}

.button-label{
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px;
  color: #868d95;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 5px;
}
.button-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
  margin: 0;
  &:checked +.button-label{
    background: #868d95;
    color: #ffffff;
  }
}
.can-btn{
  @extend %font-bold;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: 1px solid #767676;
  &:hover{
    background-color: #adadad;
  }
  &:active{
    background-color: #ffffff;
  }
  &_width33{
    width: 33%;
  }
  &_width50{
    width: 50%;
  }
}
.module{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373737d9;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  &__wrap{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
  }
  &__title{
    font-size: 24px;
    @extend %font-bold;
    color: grey;
    margin: 0 0 20px 0;
  }
  &__close{
    position: fixed;
    z-index: 5;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 30px;
    height: 30px;
    opacity: .5;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition:
            opacity .3s,
            transform .3s;
    &:hover{
      opacity: 1;
    }
    &:active{
      transform: scale(1.3);
    }
  }
  &__buttons{
    margin: 20px 0 0 0;
  }
  &__container{
    position: relative;
  }
  &__task{
    margin: 0 0 20px 0;
  }
}
.inVisible{
  display: none;
}

.disabled{
  opacity: .5;
  pointer-events: none;
}

.loader{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #9c9c9c73;
  display: flex;
  align-items: center;
  &__img{
    width: 70px;
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 70px;
    margin: 0 auto;
  }
}