.object{
  border-radius: 5px;
  background: #C4C4C4;
  padding: 10px;
  overflow: auto;
  &__title{
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    border-bottom: 1px dashed;
    cursor: pointer;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }
  &__change{
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
  }
  &__feature{
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;
  }
  &__rooms{
    display: flex;
    gap: 10px;
  }
}

.about{
  padding: 20px 0 20px 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  &__item{
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
    width: 100%;
    grid-gap: 10px;
    position: relative;
    &-phone{
      grid-template-columns: 40% 1fr;
    }
    &_background{
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      grid-template-columns: 40% 1fr;
    }
  }
  &__select{
    background-color: white;
    position: absolute;
    margin: 10px 0 0 0;
    box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
    padding: 5px 0;
    z-index: 5;
    width: 100%;
    overflow: auto;
    border-radius: 5px;
    max-height: 200px;
    &_last{
      bottom: 28px;
      margin: 0 0 10px 0;
    }
  }
  &__option{
    width: 100%;
    display: block;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    user-select: none;
    font-weight: 400;
    font-family: "montserrat", sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0.8px;
    &:hover{
      background: #f2f2f2;
    }
  }
  &__container{
    position: relative;
    width: 100%;
    &::after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-image: url("../img/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translate(0, -50%);
    }
  }
}