@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

.accordion, input[type=date] {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  width: 100%;
}

.title {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0 auto;
  background-color: #eef2f4;
}

.selection {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.wrapper_comment {
  padding: 5px;
}

.title {
  display: block;
  width: 100%;
  font-size: 18px;
}

.accordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
}

.accordion:hover {
  border: 1px solid grey;
}

.accordion:active {
  border: 1px solid grey;
  background-color: #e2e2e2;
}

.accordion:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.accordion_active:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.accordion-body_open {
  -webkit-animation: openBlock .3s linear;
          animation: openBlock .3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.accordion-body_close {
  -webkit-animation: closeBlock .3s linear;
          animation: closeBlock .3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes openBlock {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes openBlock {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes closeBlock {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@keyframes closeBlock {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

.btn {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  border: 1px solid grey;
}

.btn:active {
  border: 1px solid grey;
  background-color: #e2e2e2;
}

.btn_like {
  background-image: url("../img/like.png");
  pointer-events: none;
}

.btn_dislike {
  background-image: url("../img/dislike.png");
  pointer-events: none;
}

.btn_edit {
  background-image: url("../img/edit.png");
}

.btn_remove {
  background-image: url("../img/trash.png");
}

.btn_link {
  background-image: url("../img/link.png");
}

.btn_contract {
  background-image: url("../img/document.png");
}

.btn_history {
  background-image: url("../img/show.png");
}

.btn_save {
  background-image: url("../img/save.svg");
  background-size: contain;
  background-color: #e2e2e2;
  border: 1px solid grey;
}

.btn_save:hover {
  background-color: #bfbfbf;
}

.btn_save:active {
  background-color: #e2e2e2;
}

.btn_return {
  background-image: url("../img/arrow_undo.svg");
  background-size: 60%;
  background-color: #17bd27;
}

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider__toggle:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider__toggle {
  background-color: #21f344;
}

input[type=date] {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

input:checked + .slider__toggle:before {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}
/*# sourceMappingURL=main.css.map */