.info{
  border: 1px solid #484848;
  padding: 1rem;
  border-radius: 5px;
  & p {
    margin-bottom: 0;
  }
  &__text{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #c7c7c7;
    &_promo{
      font-size: 10px;
      color: darkgrey;
    }
  }
}
.progress{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &__back{
    width: 100%;
    border: 1px solid #c7c7c7;
    height: 14px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  &__line{
    background-color: #4cc81d;
    height: 100%;
    border-radius: 20px;
  }
}