.title-section{
  font-weight: 800;
  font-size: 24px;
  line-height: 27px;
  color: #484848;
  display: block;
  width: 100%;
  border-bottom: 1px solid #484848;
  padding: 0 0 20px 0;
}
.container_grey{
  padding: 20px 0 0 0;
}
.progress{
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 0 20px 0;
  background: #eef2f4
}
.progress__number{
  display: flex;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #399fc2;
  background-color: #ffffff;
  color: #399fc2;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  &_active{
    background-color: #399fc2;
    color: #ffffff;
  }
}
.progress__line{
  border: 1px solid #399fc2;
  width: 100%;
}
.summary{
  margin: 20px 0;
  &__text{
    font-size: 18px;
    font-weight: 700;
    color: #8F9091;
    margin: 0;
    & span{
      font-weight: 400;
    }
  }
  &__edit{
    display: flex;
  }
  &__btn{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #c4c4c4;
    margin: 0 0 0 20px;
    outline: none;
    background-color: #eef2f4;
    background-image: url("../img/icon-ellipsis.svg");
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
  }
}
.type{
  display: flex;
  align-items: center;
  margin: 10px 0;
  &__wrap{
    position: relative;
    width: 40%;
    margin: 0 0 0 20px;
  }
}
.accordion-button{
  font-size: 18px;
  font-weight: 700;
  color: #8F9091;
}
.accordion-collapse{
  padding: 20px;
}
.accordion-button:not(.collapsed) {
  color: #8F9091;
  background-color: #eef2f4;;
}
.accordion-button:focus {
  border-color: #8e8e8e;
  box-shadow: 0 0 0 0.25rem rgb(131 131 131 / 25%);
}
.accordion-button:not(.collapsed)::after {

}

.file{
  display: flex;
  align-items: center;
  padding: 20px 5px;
  border: 1px dashed #bcbcbc;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  height: 130px;
  &__input{
    display: none;
  }
  &__label{
    background-image: url("../img/cloud-computing.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  &__container{
    margin: 20px 0 0 0;
  }
  &__files{
    position: relative;
    margin: 0;
    background-color: white;
    padding: 5px 0;
    color: #484848;
    white-space: nowrap;
    overflow: hidden;
    &:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background-image: url("../img/file.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    span {
      margin: 0 0 0 30px;
      font-size: 12px;
      line-height: 24px;
      color: #484848;
    }
  }
  &__burger{
    cursor: pointer;
    opacity: .3;
    height: 14px;
    width: 14px;
    background-image: url('../img/burger.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-size: 100%;
    position: relative;
    margin: 0 5px 0 10px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
  }
  &__icon{
    display: flex;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -30px;
      top: 0;
      width: 30px;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.2), #ffffff 100%);
    }
  }
  &__svg{
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &-download{
      background-image: url("../img/download.svg");
    }
    &-delete{
      background-image: url("../img/button-close.svg");
      margin: 0 0 0 10px;
      cursor: pointer;
    }
  }
  &__text{
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #484848;
    pointer-events: none;
    text-align: center;
  }
}
.burger-hide{
  position: absolute;
}
.burger__btn-group{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 11px;
  left: -90px;
  width: max-content;
  padding: 10px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
}
.burger__btn-group:after{
  right: 1%;
  top: 100%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.burger__btn-group:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #c7c7c7;
  border-width: 10px;
  margin-top: 0;
  transform: rotate(270deg);
}

.burger__btn{
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #525c68;
  line-height: 36px;
  padding: 0 15px 0 9px;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  background: white;
  text-align: inherit;
}
.burger__btn:hover{
  background-color: #f6f8f9;
}

.upload{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  gap: 20px;
  &__wrap{
    width: 33%;
    &-module{
      width: 100%;
      margin: 20px 0;
    }
  }
}
.documents{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  gap: 20px;
  &__wrap{
    width: 33%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  &__btn{
    display: block;
    height: 40px;
    width: 40px;
    background-image: url("../img/doc.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: transform .3s;
    &:hover{
      transform: scale(0.8);
    }
    &:active{
      transform: scale(1.3);
    }
  }
}
.title__header{
  width: 100%;
  border-bottom: 1px solid #484848;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &-text{
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
    color: #484848;
  }
}
.requisites{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.clients{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0;
  &__card{
    background: white;
  }
  &__border{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
  &__name{
    font-weight: 800;
    font-size: 20px;
    color: #8F9091;
  }
  &__group{
    display: flex;
    margin: 0 0 0 10px;
  }
  &__btn{
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
  &__edit{
    background-image: url("../img/list.svg");
  }
  &__delete{
    background-image: url("../img/button-close.svg");
    margin: 0 0 0 10px;
  }
  &__name-wrap{
    display: flex;
    justify-content: space-between;
  }
  &__item-wrap{
    padding: 20px;
    background: #ffffff;
  }
  &__data-code{
    display: flex;
    justify-content: space-between;
  }
  &__text{
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    color: #8F9091;
    margin: 0;
    & span{
      font-size: 16px;
      line-height: 24px;
      display: block;
      color: #484848;
    }
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    &_left{
      width: 40%;
    }
    &_right{
      width: 55%;
    }
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__commission{
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #484848;
    margin: 0;
  }
  &__alert{
    margin: 0;
    color: red;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

input[type=radio]{
  display: none;
}
.contract{
  &__validity{
    display: flex;
    margin: 20px 0 0 0;
  }
  &__date{
    &-input{
      width: 100%;
      padding: 10px 15px;
      color: #8F9091;
      outline: none;
      border: 1px solid #c4c4c4;
      font-size: 15px;
    }
  }
  &__seller{
    display: block;
    width: 100%;
    &-select{
      width: 100%;
      padding: 10px;
      color: #8F9091;
      outline: none;
      &-wrap{
        position: relative;
      }
    }
  }
  &__change{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 20px 0;
    grid-gap: 20px;
  }
  &__title{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #484848;
    &-wrap{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &-btn{
      //font-weight: 700;
      //color: #8F9091;
      //width: auto;
      //cursor: pointer;
      //border: 1px dashed #8F9091;
      //border-bottom: none;
      //padding: 0 5px;
      //pointer-events: auto;
      align-self: flex-end;
      height: 44.5px;
      width: 100%;
      //&:hover{
      //  color: grey;
      //  border: 1px solid #8F9091;
      //  border-bottom: none;
      //}
    }
  }
  &__toggle-item{
    width: 50%;
    text-align: center;
  }
  &__wrap{
    display: flex;
    flex-wrap: wrap;
    .item input[type=radio]:checked + .contract__btn{
      background: #868d95;
      color: #ffffff;
    }
  }
  &__btn{
    font-size: 14px;
    padding: 10px 15px;
    background: #ffffff;
    cursor: pointer;
    display: block;
    width: 100%;
    border: 1px solid #868d95;
    color: #868d95;
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
  &__number, &__number-proxy{
    outline: none;
    color: #8F9091;
    border: 1px solid #c4c4c4;
    font-size: 15px;
    padding: 10px 15px;
    width: 100%;
    &::placeholder{
      opacity: .5;
      font-size: 14px;
    }
  }
  &__select-wrap{
    position: relative;
    width: 100%;
  }
}
.module-form {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373737b3;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
}
input{
  padding: 6px;
  color: #8F9091;
  outline: none;
  border: 1px solid #c4c4c4;
  &::placeholder{
    opacity: .3;
  }
}
.form{
  background-color: white;
  width: 800px;
  height: 500px;
  padding: 20px;
  border-radius: 4px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  &__title_wrap{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    flex-direction: column;
  }
  &__fio{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
  }
  &__passport{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    &_wrap{
      display: flex;justify-content: space-between;
    }
    &-getPassport{
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__address{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px 20px;
    &_first{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &_second{
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__toggle{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    &-item input[type=radio]:checked + .form__toggle-btn{
      background: #0d6efd;
      color: #ffffff;
      border: 1px solid #0d6efd;
    }
    &-btn{
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: #484848;
      padding: 10px 16px;
      background: #ffffff;
      border: 1px solid;
    }
  }
  &__btn{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #484848;
    padding: 10px 16px;
    background: #ffffff;
    border: 1px solid;
    margin: 10px 0 0 0;
    &:hover{
      background: #1A202C;
      color: #ffffff;
    }
  }
}

.match{
  display: flex;
  &__input{
    appearance: auto;
    align-self: center;
    margin: 0 5px 0 0;
  }
}

.price{
  display: flex;
  align-items: center;
  &__btn{
    display: block;
    height: 40px;
    width: 40px;
    background-image: url("../img/doc.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
  &__text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #484848;
    margin: 0 0 0 10px;
    & span {
      display: block;
      font-weight: bold;
    }
  }
}

.module{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373737b3;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  &__wrap{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  &__header{
    width: 100%;
    margin: 0 0 20px 0;
  }
  &__error-deal{
    color: red;
    font-weight: 700;
  }
  &__close{
    cursor: pointer;
    opacity: .5;
    transition: opacity .3s;
    height: 40px;
    width: 40px;
    background-image: url('../img/button-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-size: contain;
    &:hover{
      opacity: 1;
    }
  }
  &__img-wrap{
    display: flex;
    user-select: none;
    height: 100%;
  }
}

.btn-save{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 16px;
  background: #1A202C;
  color: #ffffff;
  border: 1px solid;
  margin: 20px 0 0 0;
  &:hover{
    color: #484848;
    background: #ffffff;
  }
}
.save-change{
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  visibility: hidden;
  box-shadow: 0 3px 5px -5px rgb(34 60 80 / 50%);
  flex-wrap: wrap;
  overflow: hidden;
  &_active{
    animation: showBar .3s linear;
    animation-fill-mode: forwards;
  }
  &_close{
    animation: closeBar .3s linear;
    animation-fill-mode: forwards;
  }
  &__text{
    text-align: center;
    width: 100%;
    display: block;
  }
  &-error{
    width: 100%;
    text-align: center;
  }
  &__group{
    display: flex;
  }
  &__btn{
    padding: 30px !important;
  }
  &-text{
    margin: 0;
    color: red;
    font-weight: 600;
  }
}
@keyframes showBar {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 150px;
    visibility: visible;
  }
}
@keyframes closeBar {
  from {
    height: 150px;
    visibility: visible;
  }
  to {
    height: 0;
    visibility: hidden;
  }
}

.loader{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #9c9c9c73;
  display: flex;
  align-items: center;
  &__img{
    width: 70px;
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 70px;
    margin: 0 auto;
  }
}
.add{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
  z-index: 99;
  &__button{
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #525c68;
    line-height: 36px;
    padding: 0 15px 0 9px;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    background: white;
    text-align: inherit;
    &:hover{
      background-color: #f6f8f9;
    }
  }
  &__change{
    position: relative;
  }
}
.responsible{
  height: 600px;
  width: 700px;
  &__text{
    text-align: center;
  }
  &__table{
    width: 100%;
    &-wrap{
      height: 480px;
      overflow: auto;
    }
  }
  &__column{
    padding: 16px;
    user-select: none;
  }
  &__row{
    border-bottom: 1px #eef2f4 solid;
    cursor: pointer;
    &:hover{
      background: #ebf0f5;
    }
    &_active{
      background-color: #f5fcde;
    }
  }
  &__form{
    display: flex;
    margin: 20px 0;
  }
  &__input{
    width: 100%;
  }
  &__search-btn{
    border: none;
    background-color: transparent;
    margin: 0 0 0 20px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/search.svg");
    transition: transform .3s;
    &:hover{
      transform: scale(0.8);
    }
    &:active{
      transform: scale(1.2);
    }
  }

}
.edit{
  &__text{
    display: block;
    color: #484848;
    margin: 0 0 5px 0;
  }
  &__wrap{
    margin: 0 0 20px 0;
  }
}
.edit__input{
  width: 100%;
}
.isVisible{
  display: none;
}

.isValid{
  border: 1px solid red !important;
}
.isValidText{
  color: red;
}

.select{
  position: relative;
}
.notRights{
  pointer-events: none;
}

.loader{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #9c9c9c73;
  display: flex;
  align-items: center;
  &__img{
    width: 70px;
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 70px;
    margin: 0 auto;
  }
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.guid{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #484848;
  & i{
    color: red;
    font-size: 18px;
  }
}
.errorDeal{
  width: 100%;
  height: 100%;
  background-image: url("https://crm.centralnoe.ru/dealincom/assets/no-deal.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0 0 0;
}
.disabled{
  opacity: .5;
  pointer-events: none;
}