.container_grey {
  padding: 20px 0 0 0;
}

textarea {
  resize: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  width: 100%;
}

.select {
  position: relative;
  width: 100%;
}

.select__gap {
  white-space: nowrap;
}

.select__gap:after {
  background-color: white;
}

.select__gap:before {
  content: "";
  position: absolute;
  right: 30px;
  display: block;
  width: 60px;
  height: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), #ffffff 100%);
}

.input {
  background: #fff;
  color: black;
  border: 1px solid #c4c4c4;
  font-size: 15px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  min-height: 44.5px;
}

.checkbox {
  appearance: auto;
}

.save-change {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: white;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  visibility: hidden;
  box-shadow: 0 3px 5px -5px rgba(34, 60, 80, 0.5);
  flex-wrap: wrap;
  overflow: hidden;
}
.save-change_active {
  animation: showBar 0.3s linear;
  animation-fill-mode: forwards;
}
.save-change_close {
  animation: closeBar 0.3s linear;
  animation-fill-mode: forwards;
}
.save-change__text {
  text-align: center;
  width: 100%;
  display: block;
}
.save-change__group {
  display: flex;
}
.save-change__btn {
  padding: 0 20px !important;
}
.save-change-text {
  margin: 0;
  color: red;
  font-weight: 600;
}

@keyframes showBar {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 70px;
    visibility: visible;
  }
}
@keyframes closeBar {
  from {
    height: 70px;
    visibility: visible;
  }
  to {
    height: 0;
    visibility: hidden;
  }
}
.progress {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 0 20px 0;
  background: #eef2f4;
}
.progress__number {
  display: flex;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #399fc2;
  background-color: #ffffff;
  color: #399fc2;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.progress__number_active {
  background-color: #399fc2;
  color: #ffffff;
}
.progress__wrap {
  position: relative;
}
.progress__message {
  position: absolute;
  background-image: url("../img/chat-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  cursor: pointer;
}
.progress__line {
  border: 1px solid #399fc2;
  width: 100%;
}

.control {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}
.control_analist {
  right: -78%;
}
.control_expert {
  right: -58%;
}
.control_rieltor {
  right: -60%;
}
.control__item {
  display: flex;
  width: 32%;
}
.control__item_disabled {
  pointer-events: none;
  opacity: 0.5;
}
.control__title {
  position: relative;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}
.control__text {
  position: absolute;
  transform: rotate(270deg);
  top: 39%;
  font-size: 18px;
  font-weight: 700;
  color: #8F9091;
  text-transform: uppercase;
}
.control__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: none;
}
.control__btn {
  margin: 0 0 10px 0 !important;
}
.control__btn:last-child {
  margin: 0 !important;
}

.title-section {
  font-weight: 800;
  font-size: 24px;
  line-height: 27px;
  color: #484848;
  display: block;
  width: 100%;
  border-bottom: 1px solid #484848;
  padding: 0 0 20px 0;
}

.title__header {
  width: 100%;
  border-bottom: 1px solid #484848;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title__header-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 27px;
  color: #484848;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  margin: 20px 0;
}
.summary__item {
  display: flex;
  align-items: center;
}
.summary__title {
  font-size: 18px;
  font-weight: 700;
  color: #8F9091;
  margin: 0 20px 0 0;
  white-space: nowrap;
}
.summary__title span {
  font-weight: 400;
}
.summary_allColumn {
  grid-column-start: 1;
  grid-column-end: 3;
}
.summary__responsible {
  display: flex;
  justify-content: space-evenly;
  border: 4px solid #fff;
  padding: 10px;
}

.card {
  padding: 20px;
  width: 40%;
}
.card__wrapper {
  margin: 20px 0 0 0;
}
.card__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: #8F9091;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.card__title i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/ellipsis.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: 1px solid #969696;
}
.card__title i:hover {
  background-color: #cecece;
}
.card__img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 0 15px 0 0;
}
.card__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #484848;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin: 20px 0 0 0;
}
.layout__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.layout__field {
  height: 300px;
  border: 1px solid #c4c4c4;
  overflow: auto;
  padding: 10px 0;
}
.layout__title {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #484848;
}
.layout__btn {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.layout__btn-header {
  grid-column-end: 3;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
}

.realtorContainer {
  position: absolute;
  background-color: white;
  z-index: 5;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  width: 100%;
  top: 80px;
  max-height: 200px;
  overflow: auto;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.deal {
  margin: 20px 0;
}

.table {
  border-collapse: collapse;
  border: 1px solid #cacaca;
  background-color: white;
  font-size: 14px;
  width: 100%;
  margin: 0 0 20px 0;
}
.table td {
  padding: 10px;
  border-bottom: 1px solid #cacaca;
}
.table__add {
  cursor: pointer;
  opacity: 0.5;
  height: 14px;
  width: 14px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-size: 100%;
}
.table__burger {
  cursor: pointer;
  opacity: 0.3;
  height: 14px;
  width: 14px;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-size: 100%;
  position: relative;
}

.service {
  margin: 20px 0;
}

.upload {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  flex-wrap: wrap;
}
.upload__table {
  width: 100%;
  margin: 20px 0 0 0;
}
.upload__wrap {
  width: 23%;
}

.documents {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.documents__wrap {
  width: 23%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}
.documents__btn {
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("../img/doc.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.file {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  border: 1px dashed #bcbcbc;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  height: 130px;
}
.file__input {
  display: none;
}
.file__label {
  background-image: url("../img/cloud-computing.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.file__container {
  margin: 20px 0 0 0;
}
.file__files {
  position: relative;
  margin: 0;
  background-color: white;
  padding: 5px 0;
  color: #484848;
  white-space: nowrap;
  overflow: hidden;
}
.file__files:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/file.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.file__files span {
  margin: 0 0 0 30px;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
}
.file__burger {
  cursor: pointer;
  opacity: 0.3;
  height: 14px;
  width: 14px;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-size: 100%;
  position: relative;
  margin: 0 5px 0 10px;
}
.file__item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
.file__icon {
  display: flex;
  position: relative;
}
.file__icon:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 30px;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.2), #ffffff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), #ffffff 100%);
}
.file__svg {
  display: block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.file__svg-download {
  background-image: url("../img/download.svg");
}
.file__svg-delete {
  background-image: url("../img/button-close.svg");
  margin: 0 0 0 10px;
  cursor: pointer;
}
.file__text {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #484848;
  pointer-events: none;
  text-align: center;
}

.burger-hide {
  position: relative;
}

.burger__btn-group {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 16px;
  width: max-content;
  padding: 10px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  height: max-content;
}

.burger__btn {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #525c68;
  line-height: 36px;
  padding: 0 15px 0 9px;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  background: white;
  text-align: inherit;
}

.burger__btn:hover {
  background-color: #f6f8f9;
}

.module {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #373737b3;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
}
.module__wrap {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 70%;
}
.module__header {
  width: 100%;
  margin: 0 0 20px 0;
}
.module__close {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
  height: 40px;
  width: 40px;
  background-image: url("../img/button-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: contain;
}
.module__close:hover {
  opacity: 1;
}
.module__img-wrap {
  display: flex;
  user-select: none;
  height: 100%;
}
.module-card__wrap {
  cursor: pointer;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
}
.module-card__wrap:hover {
  background-color: #f6f8f9;
}
.module-card__wrap_active {
  background-color: aliceblue;
}
.module-card__img {
  pointer-events: none;
}
.module-card__text {
  font-size: 18px;
  pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #21f344;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.payer {
  align-items: center;
  justify-content: space-between;
}
.payer__text {
  text-align: center;
}

.isValid {
  border: 1px solid red;
}

.negotiation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 0 0 0;
}
.negotiation__disable-btn {
  pointer-events: none;
  opacity: 0.5;
}
.negotiation__table {
  font-size: 12px;
}
.negotiation__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  min-height: 80px;
  padding: 10px;
}
.negotiation__btn p {
  font-size: 18px;
  font-weight: 700;
  color: #8F9091;
  text-align: center;
  margin: 0;
  pointer-events: none;
}
.negotiation__btn p span {
  font-weight: 400;
  display: block;
  pointer-events: none;
}
.negotiation__btn:hover {
  background-color: #f6f8f9;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 10px 0;
  background-color: white;
  width: 50%;
  align-self: flex-start;
}
.message_self {
  align-self: flex-end;
}
.message:last-child {
  margin: 0;
}
.message__name {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  color: #8F9091;
  margin: 0;
}
.message__name span {
  font-weight: 400;
}
.message__field {
  background-color: #cacaca;
  padding: 10px;
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.message__text {
  font-size: 12px;
}
.message__time {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  color: #8F9091;
  display: block;
}
.message__textarea {
  border-radius: 0;
}
.message__send {
  display: flex;
}
.message__send-btn {
  display: block;
  width: 45px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/right-arrow-svgrepo-com.svg");
  cursor: pointer;
  border: 1px solid #c4c4c4;
}

.loader {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #9c9c9c73;
  display: flex;
  align-items: center;
}
.loader__img {
  width: 70px;
  background-image: url("../img/loader.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 70px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
