.downloads{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.upload{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.documents{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
}